.navbar-container {
  display: flex;
  justify-content: space-between;
}

.header {
  margin: 20px;
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
  color: #6070ff;
}

.navlist {
  list-style-type: none;
  display: flex;
  margin: 20px;
}

.navlist a {
  text-decoration: none;
  padding: 25px 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #344563;
}

.openMenu {
  margin: 20px;
}

.mobile-navlist {
  list-style-type: none;
  position: absolute;
  left: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  background-color: #6070ff;
  mix-blend-mode: multiply;
  transition: 0.4s;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.mobile-navlist a {
  text-decoration: none;
  padding: 25px 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 20px;
  color: white;
  cursor: pointer;
}

.closeMenu {
  float: right;
  margin: 8px;
}

.mobile-navlist li {
  padding-top: 20px;
  display: block;
}

@media screen and (max-width: 620px) {
  .navlist {
    display: none;
  }
}

@media screen and (min-width: 620px) {
  .openMenu {
    display: none;
  }
}
