*{
margin: 3%;
padding: 0%;
box-sizing: border-box;
}
.mobile-container{
    margin-left: 5%;
    
}
 .header{
    position: relative;
    left: -50px;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #6070FF;
    


 }
 .navbar{
     display: flex;
     justify-content: space-around;
     margin-top: 10px;
     font-size: 20px;
     flex: none;
     order: 0;
     flex-grow: 0;
     margin: 0px 0px;
     
 }

 .menu{
     display: flex;
     flex-direction: column;
     
 }
 .menu-btn{
     background-color: #6070FF;;
     padding: 2px 15px;
     margin: 5%;
     border-style: none;
 }
 .main{
    background-image: url(images/header-shapes\ mobile.png);
    background-position: bottom;
    margin-bottom:5%;
 }
 h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display: flex;
    align-items: center;
    color: #172B4D;

 }
 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
 }

 h2{
     font-family: 'Poppins';
     font-style: normal;
     font-weight: 500;
     font-size: 16px;
     line-height: 24px;     
     color: #7F8CFF;
    
 }
 .links a {
     margin:10px;
 }
